body {
    font-family: 'Roboto', sans-serif; /* Set the default font for the page */
    background-color:burlywood;
  }

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.LINKS a {
    color: black; /* Set the text color to a shade of blue */
    text-decoration: none; /* Remove the underline */
    font-weight: bold; /* Make the text bold */
  }

  /* Change the link color when hovered */
  .LINKS a:hover {
    color: white; /* Darker blue on hover */
  }


body{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;

  }

  .header a {
    flex: 1;
      min-height: 100px; /* Set a minimum height for the anchor elements */
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-decoration: none;
      
  }

  .g1 {
    background-image: url("Images/GALLANTRY.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #ef9539;
  }
  .g1:hover, .g2:hover, .g3:hover {
    background-color: whitesmoke;
  }

  .g2 {
    background-image: url("/Images/GOLDEN GATE.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #e2d914;
  }

  .g3 {
    background-image: url("/Images/GRANDCANYON.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #123e57;
  }
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0;
}
.SEARCHBAR {
    width: 50lh;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.SEARCHBAR:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.SEARCHBAR::placeholder {
    color: #999;
}
